@model KutuphaneCoresuz.Models.TableModels.Yazar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yazar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yazar_ismi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_ismi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitap_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitap_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.yazarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
