@model IEnumerable<KutuphaneCoresuz.Models.TableModels.Yazar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateYazar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yazar_ismi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yazar_sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yazar_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitap_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_ismi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditYazar", new { id=item.yazarID }) |
            @Html.ActionLink("Details", "DetailsYazar", new { id=item.yazarID }) |
            @Html.ActionLink("Delete", "DeleteYazar", new { id=item.yazarID })
        </td>
    </tr>
}

</table>
