@model List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "anasayfa";

}

@Html.Partial("~/Views/Shared/_Header.cshtml")

<div style="position:absolute; right:10px; top:500px;">
    <table>
        <tr>
            <td><button class="btn-outline-secondary" type="submit" name="update" onclick="location.href='@Url.Action("EditUye", "Uye")'"> Profil Düzenle</button></td>

        </tr>
        <tr>
            <td>
                <button class="btn-outline-secondary" type="button" name="deleteUye" onclick="location.href='@Url.Action("DeleteUye", "Uye")'">Profil Sil</button>

            </td>
        </tr>
        <tr>
            <td>
                <button class="btn-outline-secondary" type="button" name="DetailsUye" onclick="location.href='@Url.Action("DetailsUye", "Uye")'">Profil Detay</button>

            </td>
        </tr>
    </table>
</div>

<span class="border-dark border-bottom">
    <h4 style="font-family:fantasy; color:	#01579B; padding-left:20px">Projeye Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString() </h4>
</span>

<div id="wrapper">
    <h3 align="center">Var Olan Kitaplarınız</h3>

    <table id="kitap" align="center" style="width:45%; height:200px">

        <tr>
            <td class="lalign">
                @Html.Label("Kitap Adi:")

            </td>
            <td class="lalign">
                @Html.Label("Yazar Adi:")

            </td>
            <td class="lalign">
                @Html.Label("Yazar Soyadi:")

            </td>
            <td class="lalign">
                @Html.Label("Yayinci:")
            </td>
            <td class="lalign">
                @Html.Label("Yorum:")
            </td>


        </tr>

        @if (Model != null)
        {

            foreach (var item in Model)
            {


                <td>
                    @item.KitapAdi
                </td>
                <td>
                    @item.YazarAdi
                </td>
                <td>
                    @item.YazarSoyadi
                </td>
                <td>
                    @item.yayinci
                </td>
                <td>
                    @item.Aciklama
                </td>



            }

            for (int i = 1; i <= Model.Count() / 5; i++)
            {

                <td>
                <button class="btn-outline-warning" type="submit" name="update" onclick="location.href='@Url.Action("EditKitap", "Kitap")'">Düzenle</button>

                <button class="btn-outline-success" type="button" name="detaylar" onclick="location.href='@Url.Action("DetailsKitap", "Kitap")'">Detaylar</button>

                <button class="btn-outline-success" type="submit" name="detaylar" onclick="location.href='@Url.Action("DeleteKitap", "Kitap")'">Sil</button>

                </td>
            }
        }





    </table>
</div>
<table align="center">


    <tr>
        <td>
            <button class="btn-outline-success" type="button" name="yeniKitap" onclick="location.href='@Url.Action("CreateKitap","Kitap")'">Yeni Kitap Ekle</button>
        </td>
        <td>
            <button class="btn-outline-success" type="button" name="yeniYazar" onclick="location.href='@Url.Action("CreateYazar","Yazar")'">Yeni Yazar Ekle</button>
        </td>


    </tr>

</table>



@section Scripts
{
    <script type="text/javascript">
        //$(function () {
        //    $("test").click({
        //       ;
        //    });
        //});

        $(document).ready(function () {
            if ($("#kitap tbody tr").length == 0) {
                alert("Hiç Kitabınız yok.");
            }

        })
    </script>
}
