@model List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>


@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "anasayfa";

}


<div class="hero-container">
    <p>
        @Html.ActionLink("HADİ BAŞLAYALIM", "Login", "UyeKitaplarSayfasi", new { @class = "btn-get-started" })
        <h1>Projeye Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString()</h1>

    </p>
    <div id="wrapper">
        <h1>Var Olan Kitaplarınız</h1>

        <table id="keywords" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td class="lalign">
                        @Html.Label("Kitap Adi:")

                    </td>

                <tr>
                    <td class="lalign">
                        @Html.Label("Yazar Adi:")

                    </td>
                </tr>
                <tr>
                    <td class="lalign">
                        @Html.Label("Yazar Soyadi:")

                    </td>
                </tr>

                <tr>
                    <td class="lalign">
                        @Html.Label("Yayinci:")
                    </td>
                </tr>
                <tr>
                    <td class="lalign">
                        @Html.Label("Yorum:")
                    </td>
                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.KitapAdi</td>
                        <td>@item.YazarAdi</td>
                        <td>@item.YazarSoyadi</td>
                        <td>@item.yayinci</td>
                    </tr>
                    <tr>
                       

                            <td><button class="btn-outline-warning" type="submit" name="update"onclick="location.href='@Url.Action("EditKitap","Kitap")'">Düzenle</button></td>
                           
                                <td>
                                    <button class="btn-outline-success" type="button" name="detaylar"onclick="location.href='@Url.Action("DetailsKitap","Kitap")'">Detaylar</button>
                                </td>
                                                      
                                <td>
                                    <button class="btn-outline-success" type="submit" name="detaylar" onclick="location.href='@Url.Action("DeleteKitap","Kitap")'">Sil</button>
                                </td>
                         
                        }
                    </tr>
                    
                }
            </tbody>


        </table>
    </div>



 
</div>

}
@section styles{
    <style>
        .body {
            background: black;
        }
    </style>
}
@section scripts{
    <script>

    </script>
}