@model  KutuphaneCoresuz.Models.ModelforDB.KitapUyeViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")

<hr />
<div align="center">
    @using (Html.BeginForm("AdminEditUyeKitapResult", "Admin", FormMethod.Post))
    {
        <br />
        <br />
    <table class="table-hover" style="width:30%; padding:0;" cellspacing="0" cellpadding="0">
        <tbody>
            @*<tr>
    <td>
        <p>
                @Html.Label("Üye İsim:")
                <label id="kullaniciadi"></label>

            </p>
       
        </td>*@
            <tr>
        <td>
            <input type="hidden" class="id" value="@Html.NameFor(m=>m.id)"/>

        </td>
    </tr>

            <tr>
                <td>
                    <p>
                        @Html.Label("Üye İsim")
                    </p>
                </td>
                <td>
                  <div>
                    <select class="form-control" id="uyeAd" name="uyeisim">
                    <option>Üye Adı Seçiniz</option>
                    </select>
                  </div>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Üyenin Hangi Kitabını Değiştirmek İStiyorsanız Seçin")

                    </p>
                </td>
                <td>
                    <div class="input-group">

                        <div>
                            <select class="form-control" id="kitapadi" name="degisecekkitapisim">
                                <option>Kitap Adı Seçiniz</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        @Html.Label("Tüm Kitaplar")

                    </p>
                </td>
                <td>
                    <div>
                        <select class="form-control" id="kitapAdlari" name="gelenkitapisim">
                            <option>Kitap Adı Seçiniz</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Kitap Durum")

                    </p>
                </td>
                <td>
                    <div>
                        <select class="form-control" id="kitapdurum" name="kitapdurum">
                            <option>Kütüphanede</option>
                            <option>Üyede</option>
                        </select>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

    }
    
</div>
    <div align="center" class="form-group" style="position:absolute; top:500px;width:300px; left:42%; width:300px">
        <div  style="position:inherit; width:inherit" align="center">
            <button type="submit" style="position:inherit; width:300px" class="btn btn-warning">Kaydet</button>
        </div>
    </div>
 
        <button style="position:absolute; top:600px; width:300px; left:50%; width:300px" class="btn-outline-warning btn-duzenle" type="submit" onclick="location.href='@Url.Action("IndexKitap","Kitap")'">Tüm Kitaplar</button>
        <button  style="position:absolute; top:650px; width:300px; left:50%; width:300px"class="btn-outline-warning btn-uyeEkle" type="submit" onclick="location.href='@Url.Action("AddUyeAdmin","Admin")'">Uye Ekle</button>

    

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            GetUyeNames();
            var id = document.getElementById(".id");
            alert(id);
            GetKitapAdi(id);
            GetKitapAdlari();

            $(".btn-kitapduzenle").click(function () {
                var selectedRole = $(this).children("option:selected").val();
                //var id = $(this).data("id");
                //  var kitapadi = $(this).data("kitapadi").value();
                ////var yazaradi = $(this).data("yazaradi").value();
                ////var yazarsoyadi = $(this).data("yazarsoyadi").val();
                // var yazaradisoyadi = document.getElementById("#ad");
                //var yayinci = $(this).data("yayinci").val();
                //var aciklama = $(this).data("aciklama").val();
                //var yazaryorum = $(this).data("yazaryorum").val();
                //var kullaniciadi = $(this).data("kullaniciadi").val();

                $.ajax({
                    url: `/Admin/AdminEditUyeKitapJson?id=${id}`,
                        @*url:'@Url.Action("EditYazarId","Yazar")',

                            &kullaniciadi=${kullaniciadi}&kitapadi=${kitapadi}&yazaradi=${yazaradisoyadi}&yayinci=${yayinci}&aciklama=${aciklama}&yazaryorum=${yazaryorum}*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (sayfa) {

                        // alert(sayfa.text);
                        if (sayfa.text == 0) {

                            window.location.href = '@Url.Action("Login","Security")';
                        }
                        else if (sayfa.text == 1) {

                            GetNames();


                        }
                        else if (sayfa.text == 2) {
                            window.location.href = '@Url.Action("AdminEditUyeKitapResult","Admin")';
                        }
                    },
                    error: function () {
                        alert('Error');
                    }

                    , complete: function () {

                    }
                });//ajax sonu
            });//btn click sonu
        });

     function GetUyeNames()
     {
        // alert("fonksiyon");
            $.ajax({
             url: `/Admin/UyeAdSoyad?id=0`,
            method: "post",
            dataType: "json",
            success: function (data)
                {

                    $.each(data.text, function (key, uyeDetaylari) {
                    $("#uyeAd").append(`<option value="${uyeDetaylari["Value"]}">${uyeDetaylari["Text"]}</option>`);
                    //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                });
                },
                complete: function () {

                }
           });//ajax sonu
     }
    
        function GetKitapAdi(id) {
           // var id = document.getElementById("#id");
                    // alert("fonksiyon");
                    $.ajax({
                        url: `/Admin/UyeKitapJson?id=${id}`,

                        method: "post",
                        dataType: "json",
                        success: function (data) {

                            $.each(data.text, function (key, uyeDetaylari) {

                                $("#kitapadi").append(`<option value="${uyeDetaylari["Value"]}">${uyeDetaylari["Text"]}</option>`);

                                //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                            });
                        },
                        complete: function () {

                        }
                    });//ajax sonu
                }//function sonu


        function GetKitapAdlari() {
                // alert("fonksiyon");
                    $.ajax({
                        url: `/Admin/KitaplarJson?id=0`,

                        method: "post",
                        dataType: "json",
                        success: function (data) {

                            $.each(data.text, function (key, kitaplar) {
                        $("#kitapAdlari").append(`<option value="${kitaplar["Value"]}">${kitaplar["Text"]}</option>`);
                        //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                    });
                        },
                        complete: function () {

                        }
                    });//ajax sonu
                }//function sonu

    </script>
}

