@model  List<KutuphaneCoresuz.Models.ModelforDB.KitapUyeViewModel>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")


<br />
<br />

<div id="logo" class="pull-left" style="margin-left:40%">


    @foreach (var item in Model)
    {
        using (Html.BeginForm("EditKitap", "Kitap", FormMethod.Post))
        {
    <div class="form-horizontal">
        <h2>Kitap Duzenle</h2>
        <br />
        <hr />
        <div class="col-md-10">
            <input type="hidden" name="id" class="form-control" value="@item.id"   />
        </div>
        <div class="form-group">
            @Html.Label("      ", new { @class = "control-label col-md-3" })
            <div class="col-md-10">

                <div class="form-group">
                    <select class="form-control" id="uyeAd" style="width:200px; position:absolute; left:660px; bottom:3px" name="kullaniciadi">
                        <option>Kullancı Adı Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("      ", new { @class = "control-label col-md-3" })
            <div class="col-md-10">

                <div class="form-group">
                    <select class="form-control" id="uyeAd" style="width:200px; position:absolute; left:660px; bottom:3px" name="uyeisim">
                        <option>Uye Adı Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("      ", new { @class = "control-label col-md-3" })
            <div class="col-md-10">

                <div class="form-group">
                    <select class="form-control" id="uyeAd" style="width:200px; position:absolute; left:660px; bottom:3px" name="kitapadi">
                        <option>Uye Adı Seçiniz</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Rol:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <select class="form-control role" id="ad" name=role>
                        <option value="Uye">Üye</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" value="Kaydet" class="btn btn-danger btn-kitapduzenle" style="width:inherit" id="btn-degistir">Değiştir</button>

                </div>

            </div>
            </div></div>
            }
       }




            @section Scripts
{
                <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-kitapduzenle").click(function () {
                 var selectedRole = $(this).children("option:selected").val();
                //var id = $(this).data("id");
                //  var kitapadi = $(this).data("kitapadi").value();
                ////var yazaradi = $(this).data("yazaradi").value();
                ////var yazarsoyadi = $(this).data("yazarsoyadi").val();
                // var yazaradisoyadi = document.getElementById("#ad");
                //var yayinci = $(this).data("yayinci").val();
                //var aciklama = $(this).data("aciklama").val();
                //var yazaryorum = $(this).data("yazaryorum").val();
                //var kullaniciadi = $(this).data("kullaniciadi").val();

                $.ajax({
                    url:`/Admin/AdminEditUyeKitapJson?id=${id}`,
                    @*url:'@Url.Action("EditYazarId","Yazar")',

                        &kullaniciadi=${kullaniciadi}&kitapadi=${kitapadi}&yazaradi=${yazaradisoyadi}&yayinci=${yayinci}&aciklama=${aciklama}&yazaryorum=${yazaryorum}*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (sayfa) {

                          // alert(sayfa.text);
                                if (sayfa.text == 0) {

                                    window.location.href = '@Url.Action("Login","Security")';
                                }
                                else if (sayfa.text == 1)
                                {

                                        GetNames();


                                }
                                        else if (sayfa.text == 2) {
                                    window.location.href = '@Url.Action("AdminEditUyeKitapResult","Admin")';
                                        }
                            },
                            error: function() {
                                alert('Error');
                            }
                        });
                        return false;


                    }, complete: function () {

                    }
                });
            });//btn click sonu


             GetNames();


            var btn = document.getElementById("#btn-yazarekle");
            var modal = document.getElementById("#mymodal");
            var ad = document.getElementById("#ad");
                $("#btn-yazarekle").click(function()
                {
                    //alert("butona tıklandı");

                         $.ajax({
                            url: '@Url.Action("CreateYazar","Yazar")',
                            method: "POST",
                            dataType:"json",
                            data: $('form.tagForm').serialize(),
                             success: function (sayfa) {

                                 //alert(sayfa.text);
                                if (sayfa.text == 0) {

                                    window.location.href = '@Url.Action("Login","Security")';
                                }
                                else if (sayfa.text == 1)
                                {
                                    $("#mymodal").modal('hide');

                                        GetNames();


                                }
                                        else if (sayfa.text == 2) {
                                    window.location.href = '@Url.Action("CreateYazarAction","Yazar")';
                                        }
                            },
                            error: function() {
                                alert('Error');
                            }
                        });
                        return false;

                });

              modal.on('hidden', function ()
            {
                GetNames();
                ad.change(function(){
                    window.location.reload(true);
                });



            });
        });//document.ready
        function GetNames() {

            $.ajax({
                url: `/Kitap/AdSoyad?id=0`,
                method: "post",
                dataType: "json",
                success: function (data) {

                    $.each(data.text, function (key, yazarDetaylari) {
                        $("#ad").append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);
                        //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                    });
                },
                complete: function () {

                }
            });
            }
                  }
 function GetUyeNames()
 {
    // alert("fonksiyon");
        $.ajax({
         url: `/Admin/UyeAdSoyad?id=0`,
        method: "post",
        dataType: "json",
        success: function (data)
            {

                $.each(data.text, function (key, uyeDetaylari) {
                $("#uyeAd").append(`<option value="${uyeDetaylari["Value"]}">${uyeDetaylari["Text"]}</option>`);
                //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

            });
            },
            complete: function () {

            }
       });//ajax sonu


 }
            function GetKullaniciNames() {
                // alert("fonksiyon");
                $.ajax({
                    url: `/Admin/UyeKullaniciAdi?id=0`,
                    method: "post",
                    dataType: "json",
                    success: function (data) {

                        $.each(data.text, function (key, uyeDetaylari) {
                            $("#uyeAd").append(`<option value="${uyeDetaylari["Value"]}">${uyeDetaylari["Text"]}</option>`);
                            //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                        });
                    },
                    complete: function () {

                    }
                });//ajax sonu
            }

             function GetKitapAdi() {
                // alert("fonksiyon");
                $.ajax({
                    url: `/Admin/UyeKitapJson?id=0`,
                    method: "post",
                    dataType: "json",
                    success: function (data) {

                        $.each(data.text, function (key, uyeDetaylari) {
                            $("#uyeAd").append(`<option value="${uyeDetaylari["Value"]}">${uyeDetaylari["Text"]}</option>`);
                            //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                        });
                    },
                    complete: function () {

                    }
                });//ajax sonu
            }

                </script>
            }
