@model  IEnumerable<KutuphaneCoresuz.Models.Data.Uye>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")


<br />
<br />
<table class="table-responsive" align="center" style="margin-left:250px;  width:65%; height:75%" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th> @Html.Label("Uye Adi:")</th>
            <th>
                @Html.Label("Uye Kullanıcı Adı:")

            </th>
            <th>
                @Html.Label("Uye Soyisim:")
            </th>
            <th>
                @Html.Label("Email:")
            </th>
            <th>
                @Html.Label("Aciklama")
            </th>
            <th>
                @Html.Label("Uye Tür")
            </th>
            <th colspan="7">
                İşlemler
            </th>

        </tr>
    </thead>
    <tbody>


        @if (Model != null)
        {

            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.isim
                    </td>
                    <td>
                        @item.KullaniciAdi
                    </td>
                    <td>
                        @item.Soyisim
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Aciklama
                    </td>


                    @if (item.RoleId == 0)
                    {
                        <td>Uye</td>

                    }
                    else
                    {
                        <td> Admin</td>

                    }


                    <td colspan="2">


                        @*<button class="btn-outline-warning" type="submit" name="update" onclick="location.href='/Uye/EditUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId'">Uye Düzenle</button>*@
                        @*<button class="btn-outline-success" type="submit" name="detaylar" onclick="location.href='/Uye/DeleteUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId">Uye Detaylar</button>*@
                        @*<button class="btn-outline-danger" type="submit" name="detaylar" onclick="location.href='/Uye/DeleteUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId" ,'">Uye Sil</button>*@
                        <button class="btn-outline-warning btn-duzenle" data-id=@item.ID data-isim=@item.isim data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId>Uyeyi DÜZENLE</button>
                    </td>
                    <td>
                        <button class="btn-outline-warning btn-sil" data-id=@item.ID data-isim=@item.isim data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId>Uyeyi Sil</button>
                    </td>
                    <td colspan="2">
                        <button class="btn-outline-warning btn-kitapekle" data-id=@item.ID data-isim=@item.isim data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId onclick="location.href=`/Admin/AdminAddUyeKitap?id=@item.ID`">Uyeye Kitap Ekle</button>
                    </td>
                    <td colspan="2">
                        <button class="btn-outline-warning btn-detay" data-id=@item.ID data-isim=@item.isim data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId>Uye Detay</button>
                    </td>

                </tr>

            }

        }
    </tbody>
</table>
@*@section Scripts
    {   @if (Session["KullaniciAdi"] == "")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    alert("@ViewBag.Login");
                 });
            </script>

        }

    }*@



@section Scripts
    {
    <script type="text/javascript">

            $(document).ready(function () {

                //btnduzenle kodları
                //
                //
                //


                alert('@ViewBag.Login');
                $(".btn-duzenle").click(function () {
                    var id = $(this).data("id");
                    var isim = $(this).data("isim");
                    //var soyisim = $(this).data("soyisim");
                    //var kullaniciAdi = $(this).data("kadi");
                    //var aciklama = $(this).data("aciklama");
                    //var roleId = $(this).data("role");
                    //var email = $(this).data("email");

                    //alert(id);
                    var model = $(this).data("model");
                    //alert(isim);

                    //var data ="id: ' + id + ',isim: ' + isim + ' ,soyisim: ' + soyisim + ',kullaniciadi: ' + kullaniciAdi + ',aciklama: ' + aciklama + ',roleid: ' + roleId + '"',
                    //var formData = new FormData();

                    //formData.append("id", id);
                    //formData.append("isim", isim);
                    //formData.append("soyisim", soyisim);
                    //formData.append("kullaniciadi", kullaniciAdi);
                    //formData.append("aciklama", aciklama);
                    //formData.append("roleid", roleId);
                    //alert(formdata);


                    $.ajax({
                        url: `/Admin/AdminEditUye?id=${id}`,
                        //data: formData,
                        method: "post",
                        dataType: "json",
                        success: function (data) {
                            alert(data.text);
                            if (data.text == "login") {
                                window.location.href = `/Security/Login`;

                            }
                            else if (data.text == "editUye") {

                                window.location.href = `/Admin/AdminEditUyeResult?id=${id}`;
                                //&isim=${isim}&kullaniciadi=${kullaniciAdi}&soyisim=${soyisim}&email=${email}&aciklama=${aciklama}&roleid=${role}
                            }
                            else {
                                alert("hata");
                            }

                            alert("gitmelisin")
                            //}, complete: function () {
                            //    alert("Olmadı!")

                        }
                    });
                    //  alert("Ajax sonu");
                });
                // btnsil kodları //
                // // //
                //


                $(".btn-sil").click(function () {
                    var id = $(this).data("id");
                    alert(id);
                    //var isim = $(this).data("isim");
                    //alert(isim);
                    //var soyisim = $(this).data("soyisim");

                    //var kullaniciAdi = $(this).data("kadi");
                    //var aciklama = $(this).data("aciklama");
                    //var roleId = $(this).data("role");
                    $.ajax({
                        //  url: `/Uye/DeleteUye?id=${id}&isim=${isim}&soyisim=${soyisim}&kullaniciadi=${kullaniciAdi}&aciklama=${aciklama}&roleid=${roleId}"`,
                        @*/  url:'@Url.Action("EditYazarId","Yazar")',*@
                        url: `/Admin/AdminDeleteUye?id=${id}`,
                        method: "post",
                        dataType: "json",
                        // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                        success: function (data) {
                             alert(data.text);
                            if (data.text == "login") {
                                window.location.href = '@Url.Action("Login","Security")';

                            }
                            else if (data.text == "DeleteUye") {

                                window.location.href = `/Admin/AdminDeleteUyeResult?id=${id}`;
                            }
                            else {
                                alert("hata");
                            }

                            alert("gitmelisin")
                            //}, complete: function () {
                            //    alert("Olmadı!")


                        }, complete: function () {

                        }
                    });
                });//btn-sil click

                

                $(".btn-detay").click(function () {
                    var id = $(this).data("id");
                    alert(id);
                    //var isim = $(this).data("isim");
                    //alert(isim);
                    //var soyisim = $(this).data("soyisim");

                    //var kullaniciAdi = $(this).data("kadi");
                    //var aciklama = $(this).data("aciklama");
                    //var roleId = $(this).data("role");
                    $.ajax({
                        //  url: `/Uye/DeleteUye?id=${id}&isim=${isim}&soyisim=${soyisim}&kullaniciadi=${kullaniciAdi}&aciklama=${aciklama}&roleid=${roleId}"`,
                        @*/  url:'@Url.Action("EditYazarId","Yazar")',*@
                        url: `/Admin/UyeDetails?id=${id}`,
                        method: "post",
                        dataType: "json",
                        // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                        success: function (data) {
                             alert(data.text);
                            if (data.text == "login") {
                                window.location.href = '@Url.Action("Login","Security")';

                            }
                            else if (data.text == "DeleteUye") {

                                window.location.href = `/Admin/UyeDetay?id=${id}`;
                            }
                            else {
                                alert("hata");
                            }

                            alert("gitmelisin")
                            //}, complete: function () {
                            //    alert("Olmadı!")


                        }, complete: function () {

                        }
                    });
                });//btn-sil click





            });//document.ready

    </script>


}
