@model List<KutuphaneCoresuz.Models.ModelforDB.KitapUyeViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "anasayfa";

}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")
@*<div style="font-family:fantasy; color:#01579B; padding-left:20px">
        <h2> Projeye Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString() </h2>

    </div>*@
<style type="text/css">
    select option {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

        select option[value="1"] {
            color: red;
        }
</style>
<h3 align="center">Üye Detay</h3>

<table class="table-responsive" align="center" style="width:85%; height:750px" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>
                @Html.Label("Uye İsim:")
            </th>
            <th>
                @Html.Label("Kullanici Adi:")
            </th>
            <th>
                @Html.Label("Rol:")

            </th>
            <th>
                @Html.Label("Uye Soyisim:")
            </th>

            <th>
                @Html.Label("Uye Email")
            </th>

            <th>
                @Html.Label("Açıklama:")
            </th>
            <th>
                @Html.Label("Kitap Durum:")
            </th>
            <th>
                @Html.Label("Kitap Adi:")
            </th>
            <th>
                @Html.Label("Yayinci:")
            </th>
            <th>
                @Html.Label("Yazar Adi:")
            </th>
            <th>
                @Html.Label("Yazar Soyadi:")

            </th>

            <th>
                @Html.Label("Yorum:")
            </th>

            <th colspan="2">
                İşlemler
            </th>

        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {

            foreach (var item in Model)
            {

                <tr>

                    <td>
                        @item.UyeIsim
                    </td>
                    <td>
                        @item.KullaniciAdi
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td>
                        @item.UyeSoyisim
                    </td>
                    <td>
                        @item.UyeEmail
                    </td>
                    <td>

                        @item.Aciklama
                    </td>
                    <td>

                        <select class="form-control" id="kitapdurum" name="kitapdurum">
                            <option value="1"> @item.KitapDurum</option>
                            @if (item.KitapDurum == "Üyede")
                            {
                                <option>Kütüphanede</option>
                            }
                            else
                            {
                                <option>Üyede</option>
                            }
                        </select>
                    </td>
                    <td>
                        @item.KitapAdi
                    </td>
                    <td>
                        @item.yayinci
                    </td>
                    <td>
                        @item.YazarAdi
                    </td>
                    <td>
                        @item.YazarSoyadi
                    </td>

                    <td>
                        @item.YazarYorum
                    </td>
                    @if (item.KitapAdi != "Kayıtlı Kitabınız Yok")
                    {
                        <td colspan="2">
                            <button type="submit" class="btn-outline-info btn-duzenle" data-id=@item.id data-kullaniciadi="@item.KullaniciAdi" data-uyeisim="@item.UyeIsim" data-kitapadi="@item.KitapAdi" data-kitapdurum="@item.KitapDurum">Üyenin Kitabını Düzenle</button>
                        </td>

                    }
                    else
                    {
                        <td colspan="2">
                            <button type="submit" class="btn-outline-info btn-kitapekle" data-id=@item.id data-kullaniciadi="@item.KullaniciAdi" data-uyeisim="@item.UyeIsim" data-kitapadi="@item.KitapAdi" data-kitapdurum="@item.KitapDurum" onclick="location.href=`/Admin/AdminAddUyeKitap?id=@item.id`">Üyeye Kitap Ekle</button>
                        </td>



                    }


                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn-dark btn-kitapduzenle"> Kitap Bilgilerini Düzenle</button>

                    </td>
                </tr>



            }

        }
    </tbody>
</table>

<br />
<br />




@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".btn-duzenle").click(function () {
                alert("butona tıklandı");
                var id = $(this).data("id");
                var kitapadi = $(this).data("kitapadi");
              //  var singleValues = $("#kitapdurum").val();
                var kitapdurum = $("#kitapdurum").val();
                alert(kitapdurum);

                //var kitapdurum = $(this).data("option:selected");
                //var kitapdurum  = $(this).data("kitapdurum");
                alert(id);

                //alert(isim);}&kullaniciadi=${kullaniciadi}&uyeisim=${uyeisim}&kitapadi=${kitapadi}&kitapdurum=${kitapdurum}
                //var kullaniciadi = $(this).data("kullaniciadi").val();

                //var uyeisim = $(this).data("uyeisim").val();
                //var kitapadi = $(this).data("kitapadi").val();
                //var kitapdurum = $(this).data("kitapdurum").val();

                $.ajax({
                    url: `/Admin/AdminEditUyeKitapJson?id=${id}&kitapadi=${kitapadi}&kitapdurum=${kitapdurum}`,
                    @*url:'@Url.Action("EditYazarId","Yazar")',*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (data) {
                        if (data.text == "login") {
                            window.location.href = `/Security/Login`;

                        }
                        else if (data.text == "editKitap") {
                            window.location.reload(false);

                            //window.location.href = `/Admin/AdminEditUyeKitapResult?id=${id}`;
                            //&isim=${isim}&kullaniciadi=${kullaniciAdi}&soyisim=${soyisim}&email=${email}&aciklama=${aciklama}&roleid=${role}
                        }
                        else if (data.text == "createkitap") {
                            window.location.href = `/Admin/AdminAddUyeKitap?id=${id}`
                        }
                        else {
                            alert("hata");
                        }

                        //alert("gitmelisin")
                        //}, complete: function () {
                        //    alert("Olmadı!")

                    },
                    complete: function () {
                        alert("Kitap durum değiştirildi");

                    }
                });//ajax sonu
            });//click sonu

             $(".btn-kitapduzenle").click(function () {
                alert("butona tıklandı");
                var id = $(this).data("id");
                //var kitapadi = $(this).data("kitapadi").val();
                //var kitapdurum = $(this).data("kitapdurum").val();
                //alert(id);

                //alert(isim);}&kullaniciadi=${kullaniciadi}&uyeisim=${uyeisim}&kitapadi=${kitapadi}&kitapdurum=${kitapdurum}
                //var kullaniciadi = $(this).data("kullaniciadi").val();

                //var uyeisim = $(this).data("uyeisim").val();
                //var kitapadi = $(this).data("kitapadi").val();
                //var kitapdurum = $(this).data("kitapdurum").val();

                $.ajax({
                    url: `/Admin/AdminEditUyeKitapResultJson?id=${id}`,
                    @*url:'@Url.Action("EditYazarId","Yazar")',*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (data) {
                        if (data.text == "login") {
                            window.location.href = `/Security/Login`;

                        }
                        else if (data.text == "editUyeKitap") {
                            window.location.reload(false);

                            window.location.href = `/Admin/AdminEditUyeKitapResult?id=${id}`;
                            //&isim=${isim}&kullaniciadi=${kullaniciAdi}&soyisim=${soyisim}&email=${email}&aciklama=${aciklama}&roleid=${role}
                        }
                        else if (data.text == "createkitap") {
                            window.location.href = `/Admin/AdminAddUyeKitap?id=${id}`
                        }
                        else {
                            alert("hata");
                        }

                        //alert("gitmelisin")
                        //}, complete: function () {
                        //    alert("Olmadı!")

                    },
                    complete: function () {

                    }
                });//ajax sonu
            });//click sonu


        });//document sonu




    </script>


}
