@model  IEnumerable<KutuphaneCoresuz.Models.Data.Uye>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml");
            <p>
                @Html.ActionLink("Yeni Uye", "CreateUye")
            </p>
            <table id="keywords" cellspacing="0" cellpadding="0">
                <tr>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.isim)
                    </th>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.KullaniciAdi)
                    </th>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.Soyisim)
                    </th>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.Sifre)
                    </th>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="lalign">
                        @Html.DisplayNameFor(model => model.Aciklama)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.isim)
                        </td>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.KullaniciAdi)
                        </td>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.Soyisim)
                        </td>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.Sifre)
                        </td>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="lalign">
                            @Html.DisplayFor(modelItem => item.Aciklama)
                        </td>
                        <td class="lalign">
                            <button class="btn btn-warning" type="submit" onclick="location.href='@Url.Action("EditUye", "Uye")'">Düzenle</button> |
                            <button class="btn btn-secondary" type="submit" onclick="location.href='@Url.Action("DetailsUye", "Uye")'">Detaylar</button> |
                            <button class="btn btn-danger" type="submit" onclick="location.href='@Url.Action("DeleteUye", "Uye")'">Sil</button>
                        </td>
                    </tr>
                }


            </table>

        </div>
    </div>
</div>

<script src="~/Content/table/JavaScriptTable.js"></script>
