@model KutuphaneCoresuz.Models.Data.Yazar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Html.Partial("~/Views/Shared/_Header.cshtml")

@using (Html.BeginForm("CreateYazar","Yazar",FormMethod.Post))
{
    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Yazar Ekle</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Isim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Isim, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Soyisim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Soyisim, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Soyisim, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Yorum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Yorum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Yorum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn-outline-success" type="submit" name="DetailsUye" onclick="location.href='@Url.Action("UyeAnasayfasi","Security")'">YAZAR EKLE</button>
                            <button class="btn-outline-success" type="button" name="DetailsUye" onclick="location.href='@Url.Action("IndexYazar","Yazar")'">YAZARLARI GÖR</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
