@model KutuphaneCoresuz.Models.Data.Yazar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")
<br />
<br />
<br />s

    @using (Html.BeginForm("CreateYazarAction", "Yazar", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" align="center">
            <h4>Yazar Ekle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Isim, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Isim, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Soyisim, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Soyisim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Soyisim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yorum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Yorum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Yorum, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn-outline-success" type="submit" name="DetailsUye" >YAZAR EKLE</button>
                    <button class="btn-outline-success" type="button" name="DetailsUye" onclick="location.href='@Url.Action("IndexYazar", "Yazar")'">YAZARLARI GÖR</button>
                </div>

            </div>
        </div>
    }


