@model  List<KutuphaneCoresuz.Models.Data.Yazar>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")


    
    <div id="logo" class="pull-left" align="center">
        <h2>Delete</h2>
        <br />
        <br />

        @using (Html.BeginForm("AdminDeleteUyeResult", "Admin", FormMethod.Post))
        {
            <div id="logo" class="pull-left" align="center">
                <h3>Hesabı silerseniz hesapdaki tüm kitaplar da silinir.</h3>

                <table class="table" align="center" style="width:65%; height:200px" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th> @Html.Label("Yazar Adi:")</th>
              
                            <th>
                                @Html.Label("Yazar Soyisim:")
                            </th>
                            <th>
                                @Html.Label("Yorum:")
                            </th>
                          
                            <th colspan="2">
                                İşlemler
                            </th>
                            <th>

                            </th>

                        </tr>
                    </thead>
                    <tbody>


                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.Isim
                                    </td>
                                   
                                    <td>
                                        @item.Soyisim
                                    </td>
                                    <td>
                                        @item.Yorum
                                    </td>
                                   
                                    <td>
                                        <input type="hidden" name="id" value="@item.ID" />
                                    </td>


                                    <td colspan="2">


                                        @*<button class="btn-outline-warning" type="submit" name="update" onclick="location.href='/Uye/EditUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId'">Uye Düzenle</button>*@
                                        @*<button class="btn-outline-success" type="submit" name="detaylar" onclick="location.href='/Uye/DeleteUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId">Uye Detaylar</button>*@
                                        @*<button class="btn-outline-danger" type="submit" name="detaylar" onclick="location.href='/Uye/DeleteUye?id=@item.ID&isim=@item.isim&KullaniciAdi=@item.KullaniciAdi&Soyisim=@item.Soyisim&Email=@item.Email&Aciklama=@item.Aciklama&RoleId=@item.RoleId" ,'">Uye Sil</button>*@
                                        <button class="btn-outline-warning btn-duzenle" type="submit" onclick="location.href=`/Yazar/EditYazarId?id=@item.ID`">Yazarı DÜZENLE</button>
                                    </td>
                                    @*<td colspan="2">
                                        <button class="btn-outline-warning btn-sil" data-id=@item.ID data-model=@Model data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId>Uyeyi Sil</button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-outline-warning btn-kitapekle" data-id=@item.ID data-model=@Model data-soyisim=@item.Soyisim data-kadi=@item.KullaniciAdi data-aciklama=@item.Aciklama data-role=@item.RoleId>Uyeye Kitap Ekle</button>
                                    </td>*@
                                    <td>
                                        <button class="btn-outline-danger btn-duzenle" type="submit" onclick="location.href=`/Yazar/DeleteYazar?id=@item.ID`">Yazarı SİL</button>
                                    </td>

                                </tr>

                            }

                        }
                    <div class="form-actions no-color">
                        <button class="btn-outline-danger" type="submit" name="sil"> Sil</button>|
                        @*onclick="location.href='@Url.Action("AdminDeleteUyeResult", "Admin")'"*@
                        <button class="btn-outline-success" type="button" name="yeniKitap" onclick="location.href='@Url.Action("IndexAdmin", "Admin")'">Ana Sayfaya Dön</button>
                        <button class="btn-outline-success" type="button" name="tümü" onclick="location.href='@Url.Action("IndexYazar", "Yazar")'">Yazarları Gör</button>

                    </div>
                    </tbody>
                </table>

            </div>
        }
    </div>
      
 
