@model List<KutuphaneCoresuz.Models.Data.Yazar>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")


            <div id="logo" class="pull-left">
                <h2>Yazar Duzenle</h2>

                @foreach (var item in Model)
                {
                    using (Html.BeginForm("EditYazarId", "Yazar", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Yazar</h4>
                        <hr />
                        <div class="col-md-10">
                            <input type="hidden" name="id" class="form-control" value="@item.ID" />
                        </div>

                        <div class="form-group">
                            @Html.Label("İsim", "", htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">
                                <input type="text" class="form-control" name="isim" value="@item.Isim" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Soyisim", "", htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">
                                <input type="text" class="form-control" name="soyisim" value="@item.Soyisim" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Yorum", "", htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">
                                <input type="text" class="form-control" name="yorum" value="@item.Yorum" />
                            </div>
                        </div>
                        


                        @*<div class="form-group">
                    @Html.LabelFor(model => model.kitap_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.kitap_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kitap_id, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn-outline-warning btn-duzenle" data-id="@item.ID" data-isim="@item.Isim" data-soyisim="@item.Soyisim" data-yorum="@item.Yorum">YAZARI DÜZENLE</button>
                                @*<button class="btn-outline-danger btn-sil" data-id=@Model.ID data-isim=@Model.Isim data-soisim=@Model.Soyisim data-yorum=@Model.Yorum>BU YAZARI SİL</button>*@
                                <button class="btn-outline-danger btn-sil" data-id="@item.ID" data-isim="@item.Isim" data-soyisim="@item.Soyisim" data-yorum="@item.Yorum" onclick="location.href='/Yazar/DeleteYazar?id=@item.ID'">BU YAZARI SİL</button>
                            </div>
                        </div>
                        <div>
                            | <button class="btn-outline-success" type="submit" name="DetailsUye" onclick="location.href='/Yazar/DetailsYazar?id=@item.ID'">Profil Detay</button> |

                        </div>
                    </div>
                    }
                }

                </div>

                @section Scripts
{
                    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-duzenle").click(function () {
                //var id = $(this).data(id);
                //alert(id);
                //var isim = $(this).data(isim);
                //alert(isim);
                //var soyisim = $(this).data(soyisim);

                //var yorum = $(this).data(yorum);
                var id = $(this).data("id");
                var isim = $(this).data("isim").val();
                var soyisim = $(this).data("soyisim").val();
                var yorum = $(this).data("yorum").val();

                $.ajax({
                    url: `/Yazar/EditYazarId?id=${id}&isim=${isim}&soyisim=${soyisim}&yorum=${yorum}`,
                    @*url:'@Url.Action("EditYazarId","Yazar")',*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (data) {

                    }, complete: function () {

                    }
                });
            });

        });

        @*$(document).ready(function () {
            $(".btn-sil").click(function () {
                var id = $(this).data("id").val();
                var isim = $(this).data("isim").val();
                var soyisim = $(this).data("soyisim").val();
                var yorum = $(this).data("yorum").val();
                $.ajax({
                    url: `/Yazar/DeleteYazar?id=${id}isim=${isim}&soyisim=${soyisim}&yorum=${yorum}`,
                    /  url:'@Url.Action("EditYazarId","Yazar")',
                    method: "post",
                    dataType: "json",
                   // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (data) {

                    }, complete: function () {

                    }
                });
            })

        });*@

                    </script>


                }

