@model IEnumerable<KutuphaneCoresuz.Models.TableModels.Yazar>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/_Layout.cshtml";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Create</h2>
@section Header{

    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "CreateYazar")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Isim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sifre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                      
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Isim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sifre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                           
                            <td>
                                @Html.ActionLink("Düzenle", "EditYazar", new { id = item.yazarID }) |
                                @Html.ActionLink("Detaylar", "DetailsYazar", new { id = item.yazarID }) |
                                @Html.ActionLink("Sil", "DeleteYazar", new { id = item.yazarID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}
