@model  IEnumerable<KutuphaneCoresuz.Models.Data.Yazar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("~/Views/Shared/_Header.cshtml")

<div id="header">
    <div class="container">

        <div id="logo" class="pull-left">

            <h2>Yazarlar</h2>

            <p>
                |  <button class="btn-outline-success" type="button" name="DetailsUye" onclick="location.href='@Url.Action("CreateYazar","Yazar")'">YENİ BİR YAZAR EKLE</button> |
            </p>
            <table class="table">
                <tr>
                    <th>
                        -İsim-
                    </th>
                    <th>
                        -Soyisim-
                    </th>
                    <th>
                        -Yorum-
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Soyisim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yorum)
                        </td>

                        <td>
                            |  <button data-id=@item.ID data-isim=@item.Isim data-soisim=@item.Soyisim data-yorum=@item.Yorum class="btn-outline-success btn-duzenle">YAZARI DÜZENLE</button>
                            |  <button class="btn-outline-success btn-sil" data-id=@item.ID data-isim=@item.Isim data-soisim=@item.Soyisim data-yorum=@item.Yorum>YAZARI SİL</button>
                            |  <button class="btn-outline-success" type="button" name="DetailsUye" onclick="location.href='@Url.Action("DetailsYazar","Yazar")'">YAZAR DETAY</button>|
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-duzenle").click(function () {
                var id = $(this).data("id");

                var isim = $(this).data("isim");

                var soyisim = $(this).data("soisim");

                var yorum = $(this).data("yorum");

                $.ajax({
                    url: `https://localhost:44339/Yazar/EditYazarId?id="${id}&isim=${isim}&soyisim=${soyisim}&yorum=${yorum}"`,
                    method: "post",
                    dataType: "json",
                    success: function (data) {

                    }, complete: function () {

                    }
                });
            })

        });

        $(document).ready(function () {
            $(".btn-sil").click(function () {
                var isim = $(this).data("isim");
                var soyisim = $(this).data("soisim");
                var yorum = $(this).data("yorum");
                $.ajax({
                    url: `https://localhost:44339/Yazar/DeleteYazar?isim="${isim}&soyisim=${soyisim}&yorum=${yorum}"`,
                    method: "post",
                    dataType: "json",
                    success: function (data) {

                    }, complete: function () {

                    }
                });
            })

        });

    </script>


}
