@model KutuphaneCoresuz.Models.TableModels.Kitap   
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Create";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Create</h2>
@section Header{

    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*   bu satır küçük çaplı sadırılara karşı koruma sağlar *@
                    <div class="form-horizontal">
                        <h4>Kitap</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*bu satırda kullanıcı sayfayı yüklemeden güvenlik kontrolleri yapılır ve hata mesajı gönderilir  *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Isim, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("k_ismi", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Isim, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "ListeForm" }))
                                {
                                    @Html.DropDownList("yazarlarlistesi")
                                }

                                @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })

                            </div>'There is no ViewData item of type 'IEnumerable<SelectListItem>' that has the

                        </div>
    
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.uye_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.uye_id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.uye_id, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.yazar_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.yazar_id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.yazar_id, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Yayinci, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("yayinci", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Yayinci, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("aciklama", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
<script type="text/javascript">
    $(function () {
        $("#yazalarlistesi").change(function () {
            $('#ListeForm').submit();
        });
    });
</script>