@model KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Create";

}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@section Header{

    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                @using (Html.BeginForm("CreateKitap", "Kitap", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @*   bu satır küçük çaplı sadırılara karşı koruma sağlar *@
                    <div class="form-horizontal">
                        <h4>Kitap</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*bu satırda kullanıcı sayfayı yüklemeden güvenlik kontrolleri yapılır ve hata mesajı gönderilir  *@
                        <div class="form-group">
                            @Html.LabelFor(m => m.KitapAdi, "Kitabın ismi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("k_ismi", "", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KitapAdi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.YazarAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "ListeForm" }))
                                {
                                    @Html.DropDownListFor(model => model.YazarAdi, new SelectList(new List<string>()), "-- Yazar Seçin --", new { @class = "form-control" })
                                    @ViewBag.YazarIdYok

                                }



                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.YazarSoyadi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "ListeForm" }))
                                    {
                                        @Html.DropDownListFor(m => m.YazarSoyadi, new SelectList(new List<string>()), "-- Yazar Seçin --", new { @class = "form-control" })
                                        <div class="form-group">

                                        </div>
                                    }
                                    @Html.ActionLink("Aradığınız Yazar Yoksa Tıklayın..", "CreateYazar", "Yazar")
                                  



                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.yayinci, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("yayinci", "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.yayinci, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("aciklama", "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" value="" class="btn btn-warning" name="dfdf" id="dfdf">hjkhjk</button>
                                </div>
                            </div>
                        </div>


                      
                    </div>

                    <div>
                        @Html.ActionLink("Kitaplari Gör", "DetailsKitap","Kitap")
                    </div>

                }
                </div></div></div>
     }
