@model  KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";

}

@Html.Partial("~/Views/Shared/_Header.cshtml")
<br />
<br />
<br />

<div class="form-horizontal" align="center">
    <h4>Kitap Ekle</h4>
    <hr />

    @using (Html.BeginForm("CreateKitap", "Kitap", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @*bu satırda kullanıcı sayfayı yüklemeden güvenlik kontrolleri yapılır ve hata mesajı gönderilir  *@
        <div class="form-group">
            @Html.Label("Kitabın ismi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name=@Html.NameFor(m => m.KitapAdi)>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("      ", new { @class = "control-label col-md-3" })
            <div class="col-md-10">

                <div class="form-group">
                    <select class="form-control"  id="ad" style="width:200px; position:absolute; left:660px; bottom:3px" name=@Html.NameFor(m => m.YazarAdi)>
                        <option>Yazar Adı Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.YazarYorum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YazarYorum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YazarYorum, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Yayıncı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="@Html.NameFor(m => m.yayinci)">

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name=@Html.NameFor(m => m.Aciklama)>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" style="width:300px" value="" class="btn btn-warning" name="dfdf" id="dfdf">Kaydet</button>
            </div>
        </div>



    }
    <div>
        <button class="btn-outline-warning btn-duzenle" data-id=ID data-isim=KitapAdi data-yazarIsim=YazarAdi data-yazarSoyisim=YazarSoyadi data-yayinci=yayinci data-aciklama=Aciklama>Tüm Kitaplar</button>
    </div>
    <div class="col-md-offset-2 col-md-10" style="position:absolute; right:850px; top:260px; width:50px">
        <button class="btn-outline-warning btn-popup" value="Yazar Yoksa Tıklayın" data-toggle="modal" data-target="#exampleModalCenter">Yazar Ekle</button>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Yazar Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("CreateYazar", "Yazar", FormMethod.Post, new { id = "tag-form", @class = "tagForm" }))
                {
            <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Yazar Adı:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="@Html.NameFor(m => m.YazarAdi)">

                            </div>
                        </div>  
                        <div class="form-group">
                            @Html.Label("Yazar Soyadı:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="@Html.NameFor(m => m.YazarSoyadi)">

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Yazar Yorumu:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name=@Html.NameFor(m => m.YazarYorum)>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary btn-yazarekle">Yazar Ekle</button>
                        </div>
                }
            </div>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function()
        {
            GetNames();
            var btn = document.getElementById("btn-yazarekle");
            var modal = document.getElementById("#mymodal");
            var ad = document.getElementById("#ad");
            modal.on('hidden', function ()
            {
                GetNames();
                ad.change(function(){
                    window.location.reload(true);
                });


   
            });
                btn.click(function (e)
                {
                     e.preventDefault();
                     $(function ()
                     {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CreateYazar","Yazar")',
                            data: $('form.tagForm').serialize(),
                            success: function(sonuc) {
                                if (sonuc.code == 1) {
                                            window.location.href = '@Url.Action("Login","Security")'
                                        }
                                        else if (sonuc.code == 2) {
                                            window.location.href = '@Url.Action("CreateYazar","Yazar")'
                                        }
                            },
                            error: function() {
                                alert('Error');
                            }
                        });
                        return false;
                     });
                });
        });
        function GetNames() {

            $.ajax({
                url: `/Kitap/AdSoyad?id=0`,
                method: "post",
                dataType: "json",
                success: function (data) {

                    $.each(data.text, function (key, yazarDetaylari) {
                        ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);
                    });
                }, complete: function () {

                }
            });
        }

               @*btn.click(function showPopup(){
                    alert("butona basıldı");
                    $("myModal").dialog({
                       modal: true,
                       autoOpen: true,
                       width: 700,
                       height: 500,
                       minWidth: 700,
                       minHeight: 500,
                       position: ["center", 200],
                       close: GetNames(),
                       overlay: {
                            opacity: 0.5,
                            background: "black"
                       },
                        buttons: {
                            "Kaydet": function () {
                                $.ajax({
                                    url: '@Url.Action("CreateYazar","Yazar")',
                                    method: "post",
                                    dataType: "json",
                                    data: { id: ID, },
                                    success: function (sonuc) {
                                        if (sonuc.code == 1) {
                                            window.location.href = '@Url.Action("Login","Security")'
                                        }
                                        else if (sonuc.code == 2) {
                                            window.location.href = '@Url.Action("CreateYazar","Yazar")'
                                        }
                                    }
                                    , complete: function () {


                                    }
                                });

                            },
                            "Çık": function () {
                                $(this).dialog("close");
                            }
                        }

                    });
                });

            });*@
        


           //ad.change(function () {
           //    var yazarID = ad.val();
           //    GetSurnames(yazarID);

           //});


        
       

        @*function GetSurnames(yazarID) {


            $.ajax({

                url: '@Url.Action("AdSoyad","Kitap")',
                method: "post",
                dataType: "json",
                data: {id:yazarID, tip:"yazarSoyadGetir"},
                success: function (sonuc) {
                    $("#soyad option").remove();
                    $("#soyad").prop("disabled", false);
                    $.each(sonuc.text, function (index, item) {
                            $("#soyad").append(`<option value="${item["Value"]}">${item["Text"]}</option>`);
                        });
                    }
                , complete: function () {

                }
            });
           }*@



    </script>
}
