@model  List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")



<h2>Delete</h2>

<div id="logo" class="pull-left">
    <h2 align="center">Yazar Silme Sayfası</h2>
    @foreach (var item in Model)
    {


        using (Html.BeginForm("DeleteKitap", "Kitap", new { id = item.Id }, FormMethod.Post))
        {
            if (TempData["kitapUyede"] != null)
            {
                <script>
        alert('@Html.Raw(TempData["kitapUyede"])');
                </script>
            }
            <table class="table" style="position:relative; left:0; width:65%; height:200px" cellspacing="0" cellpadding="0">

                <tr class="dl-horizontal" align="center">
                    <td>
                        @Html.DisplayName(item.KitapAdi)
                    </td>
                    <td>
                        @Html.DisplayName(item.YazarAdi)

                    </td>
                    <td>
                        @Html.DisplayName(item.YazarSoyadi)

                    </td>
                    <td>
                        @Html.DisplayName(item.yayinci)
                    </td>
                    <td>
                        @Html.DisplayName(item.YazarYorum)
                    </td>

                </tr>
                <tr>

                    <td>
                        @Html.Display(item.KitapAdi)
                    </td>
                    <
                    <td>
                        @Html.Display(item.YazarAdi)
                    </td>
                    <td>
                        @Html.Display(item.YazarSoyadi)
                    </td>
                    <td>
                        @Html.Display(item.yayinci)
                    </td>
                    <td>
                        @Html.Display(item.YazarYorum)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-actions no-color">
                            <button class="btn-outline-danger" type="submit" name="sil" onclick="location.href='/Kitap/DeleteKitap?id=@item.Id'"> Sil</button>|
                        </div>

                    </td>
                    <td>
                        <div class="form-actions no-color">
                            <button class="btn-outline-danger" type="submit" name="sil" onclick="location.href='/Kitap/EditKitapId?id=@item.Id'"> Düzenle</button>|
                        </div>

                </tr>

            </table>



        }

    }
</div>
