@model  List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>

@{
    ViewBag.Title = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style type="text/css">
    tr td p {
        background-color: #10707f;
        color: aliceblue;
    }
</style>
<h2>Kitap Detayları</h2>

@Html.Partial("~/Views/Shared/_HeaderUye.cshtml")

<div>
    @foreach (var item in Model)
    {
        <div class="">
            <table class="table" style="width:20%; padding:0; margin-left:250px" cellspacing="0" cellpadding="0">

                <tr>
                    <td>
                        <p>
                            @Html.Label("Kitap İsmi:")
                        </p>




                    </td>

                <tr>
                    <td>

                        @Html.Display(item.KitapAdi)


                    </td>

                </tr>
                <tr>
                    <td>
                        <p>

                            @Html.Label("Kitap Yazari:")
                        </p>


                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Display(item.YazarAdi)

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            @Html.Label("Yazar Soyadi:")
                        </p>



                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Display(item.YazarSoyadi)


                    </td>


                </tr>
                <tr>
                    <td>
                        <p>
                            @Html.Label("Yayıncı :")
                        </p>


                    </td>

                </tr>
                <tr>
                    <td>

                        @Html.Display(item.yayinci)

                    </td>

                </tr>

                <tr>
                    <td>
                        <p>
                            @Html.Label("Aciklama:")
                        </p>



                    </td>

                </tr>
                <tr>
                    <td>

                        @Html.Display(item.Aciklama)

                    </td>

                </tr>

                <tr>
                    <td>
                        <p>
                            @Html.Label("Yazar Yorum:")
                        </p>



                    </td>

                </tr>
                <tr>
                    <td>

                        @Html.Display(item.YazarYorum)

                    </td>

                </tr>
                <tr>
                    <td>
                        <p>
                            @Html.Label("Kitap Durumu:")
                        </p>



                    </td>
                </tr>
                <tr>
                    <td>

                        @if (item.KitapDurum == "Kutuphanede")
                        {
                            @Html.Display("Kutuphanede");
                        }
                        else
                        {
                            @Html.Display("Uyede")
                        }

                    </td>
                </tr>


            </table>

        </div>
   
    <p>



        <button class="btn btn-info" type="button" onclick="@Url.Action("UyeAnaSayfasi", "Security")"> Anasayfaya Dön</button>



    </p>
}

