@model  List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")


<br />
<br />

<div id="logo" class="pull-left" style="margin-left:40%">


    @foreach (var item in Model)
    {
        using (Html.BeginForm("EditKitap", "Kitap", FormMethod.Post))
        {
            <div class="form-horizontal">
                <h2>Kitap Duzenle</h2>
                <br />
                <hr />
                <div class="col-md-10">
                    <input type="hidden" name="id" class="form-control" value="@item.Id" />
                </div>
                
                <div class="form-group">
                    @Html.Label("Kitap İsim", "", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" class="form-control" name="kitapadi" value="@item.KitapAdi" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("      ", new { @class = "control-label col-md-3" })
                    <div class="col-md-10">

                        <div class="form-group">
                            <select class="form-control" id="ad" style="width:200px; margin-left:0%; bottom:3px" name="yazaradisoyadi">
                                <option>Yazar Adı Seçiniz</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Yayinci", "", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" class="form-control" name="yayinci" value="@item.yayinci" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Yazar Yorum", "", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" class="form-control" name="aciklama" value="@item.Aciklama" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Yazar Yorum", "", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" class="form-control" name="yazaryorum" value="@item.YazarYorum" />
                    </div>
                </div>
                <div class="form-group">

                    |  <button class="btn-outline-warning btn-kitapduzenle" data-id=@item.Id data-kitapadi="@item.KitapAdi" data-yazaradi="@item.YazarAdi" data-yazarsoyadi="@item.YazarSoyadi" data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama">Kitap DÜZENLE</button>
                    @*onclick="location.href='/Yazar/EditYazarId?id=@item.ID&isim=@item.Isim&soyisim=@item.Soyisim&yorum=@item.Yorum'"*@
                    @*onclick="location.href='/Yazar/DeleteYazar?id=@item.ID'"*@
                    |  <button class="btn-outline-danger btn-kitapsil" data-id=@item.Id data-kitapadi="@item.KitapAdi" data-yazaradi="@item.YazarAdi" data-yazarsoyadi="@item.YazarSoyadi" data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama" onclick="location.href='/Kitap/DeleteKitap?id=@item.Id'">Kitap SİL</button>
                    |  <button class="btn-outline-dark" data-id=@item.Id data-kitapadi=@item.KitapAdi data-yazaradi=@item.YazarAdi data-yazarsoyadi=@item.YazarSoyadi data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama" onclick="location.href='/Kitap/DetailsKitap?id=@item.Id'">Kitap DETAY</button>|


                </div>

            </div>
        }
    }



    @section Scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                GetNames();
            $(".btn-kitapduzenle").click(function () {
                var id = $(this).data("id");
                  var kitapadi = $(this).data("kitapadi").value();
                //var yazaradi = $(this).data("yazaradi").value();
                //var yazarsoyadi = $(this).data("yazarsoyadi").val();
                 var yazaradisoyadi = document.getElementById("#ad");
                var yayinci = $(this).data("yayinci").val();
                var aciklama = $(this).data("aciklama").val();
                var yazaryorum = $(this).data("yazaryorum").val();
               

                $.ajax({
                    url:`/Kitap/EditKitap?id=${id}&kitapadi=${kitapadi}&yazaradi=${yazaradisoyadi}&yayinci=${yayinci}&aciklama=${aciklama}&yazaryorum=${yazaryorum}`,
                    @*url:'@Url.Action("EditYazarId","Yazar")',*@
                    method: "post",
                    dataType: "json",
                    // data: {id:yazarID, isim:isim, soyisim:soyisim, yorum:yorum},
                    success: function (data) {

                    }, complete: function () {

                    }
                });
            });//btn click sonu


             GetNames();


            var btn = document.getElementById("#btn-yazarekle");
            var modal = document.getElementById("#mymodal");
            var ad = document.getElementById("#ad");
                $("#btn-yazarekle").click(function()
                {
                    alert("butona tıklandı");

                         $.ajax({
                            url: '@Url.Action("CreateYazar","Yazar")',
                            method: "POST",
                            dataType:"json",
                            data: $('form.tagForm').serialize(),
                             success: function (sayfa) {

                                // alert(sayfa.text);
                                if (sayfa.text == 0) {

                                    window.location.href = '@Url.Action("Login","Security")';
                                }
                                else if (sayfa.text == 1)
                                {
                                    $("#mymodal").modal('hide');

                                        GetNames();


                                }
                                        else if (sayfa.text == 2) {
                                    window.location.href = '@Url.Action("CreateYazarAction","Yazar")';
                                        }
                            },
                            error: function() {
                                alert('Error');
                            }
                        });
                        return false;

                });

              modal.on('hidden', function ()
            {
                GetNames();
                ad.change(function(){
                    window.location.reload(true);
                });



            });//modal sonu
        });//document.ready
        function GetNames() {

            $.ajax({
                url: `/Kitap/AdSoyad?id=0`,
                method: "post",
                dataType: "json",
                success: function (data) {

                    $.each(data.text, function (key, yazarDetaylari) {
                        $("#ad").append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);
                        //ad.append(`<option value="${yazarDetaylari["Value"]}">${yazarDetaylari["Text"]}</option>`);

                    });
                },
                complete: function () {

                }
            });
            }
                  
 


        </script>
    }
