@model IEnumerable<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>
@{
    ViewBag.Title = "Index";

}

@{
    Layout = "~/Views/_Layout.cshtml";
}
<h2>Index</h2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@section Header{

    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <p>
                    @Html.ActionLink("Create New", "CreateKitap")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.KitapAdi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YazarAdi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YazarSoyadi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.yayinci)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aciklama)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KitapAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YazarAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YazarSoyadi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.yayinci)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Aciklama)
                            </td>

                            <td>
                                @*@Html.ActionLink("Edit", "EditKitap", new { id = item.kitapID }) |
                                    @Html.ActionLink("Details", "DetailsKitap", new { id = item.kitapID }) |
                                    @Html.ActionLink("Delete", "DeleteKitap", new { id = item.kitapID })*@
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}
