@model List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "anasayfa";

}

@Html.Partial("~/Views/Shared/_Header.cshtml")
@if (Context.Session["KullaniciAdi"].ToString() != "")
{
    @Html.Partial("~/Views/Shared/Profil.cshtml");
}



<span class="border-dark border-bottom">
    <h4 style="font-family:fantasy; color:	#01579B; padding-left:20px">Projeye Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString() </h4>
</span>
<h3 align="center">Var Olan Kitaplarınız</h3>

<table class="table" align="center" style="width:45%; height:200px" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th> @Html.Label("Kitap Adi:")</th>
            <th>
                @Html.Label("Yazar Adi:")

            </th>
            <th>
                @Html.Label("Yazar Soyadi:")

            </th>
            <th>
                @Html.Label("Yayinci:")
            </th>
            <th>
                @Html.Label("Yorum:")
            </th>
            <th>
                İşlemler
            </th>

        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {

            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.KitapAdi
                    </td>
                    <td>
                        @item.YazarAdi
                    </td>
                    <td>
                        @item.YazarSoyadi
                    </td>
                    <td>
                        @item.yayinci
                    </td>
                    <td>
                        @item.Aciklama
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditKitap", new { id = item.Id }) |
                        @Html.ActionLink("Details", "DetailsKitap", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteKitap", new { id = item.Id })
                    </td>
                </tr>
            }
        }
        </tbody>
   
    </table>
  