@model List<KutuphaneCoresuz.Models.ModelforDB.KitapYazarAddModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "anasayfa";

}
@if (Context.Session["KullaniciAdi"].ToString().Equals("admin") == true)
{
    @Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")

}
else
{
    @Html.Partial("~/Views/Shared/_HeaderUye.cshtml")
}

@if (TempData["kitapyok2"] != null)
{
    <script>
        alert('@Html.Raw(TempData["kitapyok2"])');
    </script>
}


<span class="border-dark border-bottom">
    <h4 style="font-family:fantasy; color:	#01579B; padding-left:20px">Projeye Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString() </h4>
</span>
<h3 align="center">Var Olan Kitaplarınız</h3>

<table class="table" align="center" style="width:45%; height:200px" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th> @Html.Label("Kitap Adi:")</th>
            <th>
                @Html.Label("Yazar Adi:")

            </th>
            <th>
                @Html.Label("Yazar Soyadi:")

            </th>
            <th>
                @Html.Label("Yayinci:")
            </th>
            <th>
                @Html.Label("Yorum:")
            </th>
            @if (Context.Session["KullaniciAdi"].ToString().Equals("admin") == true)
            {
                <th colspan="2">
                    İşlemler
                </th>
            }
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {

            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.KitapAdi
                    </td>
                    <td>
                        @item.YazarAdi
                    </td>
                    <td>
                        @item.YazarSoyadi
                    </td>
                    <td>
                        @item.yayinci
                    </td>
                    <td>
                        @item.Aciklama
                    </td>
                    <td colspan="2">
                        @if (Context.Session["KullaniciAdi"].ToString().Equals("admin") == true)
                        {
                            <button class="btn-outline-warning btn-kitapduzenle" data-id=@item.Id data-kitapadi=@item.KitapAdi data-yazaradi=@item.YazarAdi data-yazarsoyadi=@item.YazarSoyadi data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama" data-yazaryorum="@item.YazarYorum">Kitap DÜZENLE</button>
                            @*onclick="location.href='/Yazar/EditYazarId?id=@item.ID&isim=@item.Isim&soyisim=@item.Soyisim&yorum=@item.Yorum'"*@
                            @*onclick="location.href='/Yazar/DeleteYazar?id=@item.ID'"*@
                            <button class="btn-outline-danger btn-kitapsil" data-id=@item.Id data-kitapadi=@item.KitapAdi data-yazaradi=@item.YazarAdi data-yazarsoyadi=@item.YazarSoyadi data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama" data-yazaryorum="@item.YazarYorum">Kitap SİL</button>
                            <button class="btn-outline-dark" data-id=@item.Id data-kitapadi=@item.KitapAdi data-yazaradi=@item.YazarAdi data-yazarsoyadi=@item.YazarSoyadi data-yayinci="@item.yayinci" data-aciklama="@item.Aciklama" data-yazaryorum="@item.YazarYorum">Kitap DETAY</button>



                        }
                    </td>



                </tr>
            }
        }
    </tbody>

</table>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            //  alert("js");
            //btnSil kodları
            //
            //     //
            $(".btn-kitapsil").click(function () {
                // alert("butona basıldı");
                var id = $(this).data("id");
                alert(id);
                $.ajax({
                    url: `/Kitap/DeleteKitapJson?id=${id}`,
                    //data: formData,
                    method: "post",
                    dataType: "json",
                    success: function (data) {
                        //  alert(data.text);
                        if (data.text == "login") {
                            window.location.href = `/Security/Login`;

                        }
                        else if (data.text == "deleteKitap") {

                            window.location.href = `/Kitap/DeleteKitap?id=${id}`;
                            //&isim=${isim}&kullaniciadi=${kullaniciAdi}&soyisim=${soyisim}&email=${email}&aciklama=${aciklama}&roleid=${role}
                        }
                        else {
                            alert("hata");
                        }

                        // alert("gitmelisin")

                    }//success sonu
                });//  alert("Ajax sonu");

            });//btn.click sonu

            //  alert("nevar");
            $(".btn-kitapduzenle").click(function () {
                // alert("butona basıldı");
                var id = $(this).data("id");
                //var kitapadi = $(this).data("kitapadi");
                //var yazaradi = $(this).data("yazaradi");
                //var yazarsoyadi = $(this).data("yazarsoyadi");
                //var yayinci = $(this).data("yayinci");
                //var aciklama = $(this).data("aciklama");
                //var yazaryorum = $(this).data("yazaryorum");

                // alert(id);
                $.ajax({
                    url: `/Kitap/EditKitapJson?id=${id}`,
                    //data: formData,
                    method: "post",
                    dataType: "json",
                    success: function (data) {
                        //  alert(data.text);
                        if (data.text == "login") {
                            window.location.href = `/Security/Login`;

                        }
                        else if (data.text == "editKitap") {

                            window.location.href = `/Kitap/EditKitap?id=${id}`;
                            alert("gitti");
                            //&kitapisim=${kitapadi}&yazarisim=${yazaradi}&yazarsoyisim=${yazarsoyadi}&yayinci=${yayinci}&aciklama=${aciklama}&yazaryorum=${yazaryorum}
                            //&isim=${isim}&kullaniciadi=${kullaniciAdi}&soyisim=${soyisim}&email=${email}&aciklama=${aciklama}&roleid=${role}
                        }
                        else {
                            alert("hata");
                        }

                        // alert("gitmelisin")

                    }//success sonu
                });//  alert("Ajax sonu");

            });//btn.click sonu

        });
    </script>

}

