@model  KutuphaneCoresuz.Models.ModelforDB.KitapUyeViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("~/Views/Shared/_Header.cshtml")


<h3>Hesabınızı silerseniz hesabınızdaki tüm kitaplar da silinir.</h3>
<table class="table" align="center" style="width:45%; height:200px" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th> @Html.Label("Kitap Adi:")</th>
            <th>
                @Html.Label("Yazar Adi:")

            </th>
            <th>
                @Html.Label("Yazar Soyadi:")

            </th>
            <th>
                @Html.Label("Yayinci:")
            </th>
            <th>
                @Html.Label("Yorum:")
            </th>


        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {

            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.UyeIsim
                    </td>

                    <td>
                        @item.KullaniciAdi
                    </td>
                    <td>
                        @item.UyeSoyisim
                    </td>
                    <td>
                        @item.UyeEmail
                    </td>
                    <td>
                        @item.Aciklama
                    </td>
                    <td>
                        @item.KitapAdi
                    </td>
                    <td>
                        @item.yayinci
                    </td>
                    <td>
                        @item.YazarAdi
                    </td>
                    <td>
                        @item.YazarSoyadi
                    </td>

                    <td>
                        @item.YazarYorum
                    </td>

                </tr>

            }

        }
    </tbody>
</table>

<div class="form-actions no-color">
    <input type="button" value="Delete" class="btn btn-default" id="btn-sil" /> |
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("DeleteUye", "Uye", FormMethod.Post, new { id = "tag-form", @class = "tagForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("Kullanıcı Adınız:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="@Html.NameFor(m=>m.KullaniciAdi)">

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Sifreniz:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="@Html.NameFor(m => m.UyeSifre)">

                        </div>
                    </div>
                </div>
            }
            <button type="button" class="btn btn-secondary" onclick="location.href(@Url.Action("UyeAnaSayfasi","Security"))">Close</button>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.ready(document.ready(function () {
            var btn = document.getElementById("#btn-kaydet");
            var modal = document.getElementById("#mymodal");
            btn.click(function () {
                 e.preventDefault();
                     $(function ()
                     {
                         $.ajax({
                            url: '@Url.Action("DeleteUye","Uye")',
                            method: "POST",
                            dataType:"json",
                            data: $('form.tagForm').serialize(),
                            success: function (sayfa) {

                                if (sayfa.code == 0) {

                                    window.location.href = '@Url.Action("Login","Security")';
                                }
                                else if (sayfa.code == 1)
                                {
                                    window.location.href = '@Url.Action("CreateKitap","Kitap")';
                                }
                                        else if (text.code == 2) {
                                    window.location.href = '@Url.Action("CreateYazar","Yazar")';
                                        }
                            },
                            error: function() {
                                alert('Error');
                            }
                        });
                        return false;
                     });


            });
        }




    </script>

}

