@model  KutuphaneCoresuz.Models.Data.Uye

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Context.Session["KullaniciAdi"].ToString() == "admin")
{
    @Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")

}
else
{
    @Html.Partial("~/Views/Shared/_HeaderUye.cshtml")

}

<br />
<br />

<div>
    @using (Html.BeginForm("DeleteUye", "Uye", new { id = Model.ID }, FormMethod.Post))
    {

        <table class="table" style="width:40%; padding:0; margin-left:250px" cellspacing="0" cellpadding="0">

            <tr>
                <td>
                    <p>
                        @Html.Label("İsminiz:")
                    </p>




                </td>

            <tr>
                <td>

                    @Html.DisplayFor(m => m.isim, new { name = "isim" })


                </td>

            </tr>
            <tr>
                <td>
                    <p>

                        @Html.Label("Kullanici Adi:")
                    </p>


                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayFor(m => m.KullaniciAdi, new { name = "KullaniciAdi" })

                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Soyisim:")
                    </p>



                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayFor(m => m.Soyisim)


                </td>


            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Email:")
                    </p>


                </td>

            </tr>
            <tr>
                <td>

                    @Html.DisplayFor(m => m.Email)

                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        @Html.Label("Aciklama:")
                    </p>



                </td>

            </tr>
            <tr>
                <td>

                    @Html.DisplayFor(m => m.Aciklama)

                </td>

            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Rolünüz:")
                    </p>



                </td>
            </tr>
            <tr>
                <td>

                    @if (Model.RoleId == 1)
                    {
                        @Html.Display("Admin");
                    }
                    else
                    {
                        @Html.Display("Kullanıcı")
                    }

                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-actions no-color">
                        <button class="btn-outline-danger" type="submit" name="sil"> Sil</button>|
                    </div>



                    <div class="form-actions no-color">
                        <button class="btn-outline-danger" type="submit" name="sil" onclick="@Url.Action("EditUye", "Uye", new { id = Model.ID })"> Profil Düzenle</button>
                    </div>
                </td>
            </tr>

        </table>


    }


</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
           var answer = confirm("Hesabınızı silmek istediginize emin misiniz?");
            if (answer)
                {
                    window.location = '/Uye/DeleteUye?id=@Model.ID';
            }
            if (@TempData["UyeSilindi"]!= null) {
                alert('@TempData["UyeSilindi"] Yönlendiriliyorsunuz');
                 setTimeout("go('/Security/Login')", 5000);

            }

        });//document sonu

        function go(url){
            window.open(url);
        }
    </script>



}


