@model KutuphaneCoresuz.Models.Data.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr td p {
        background-color: #10707f;
        color: aliceblue;
    }
</style>
@if (Context.Session["KullaniciAdi"].Equals("Beyza") == true)
{
    @Html.Partial("~/Views/Shared/_HeaderAdmin.cshtml")

}
else
{
    @Html.Partial("~/Views/Shared/_HeaderUye.cshtml")

}
<hr />


<div>

    <div class="">
        <table class="table" style="width:20%; padding:0; margin-left:250px" cellspacing="0" cellpadding="0">

            <tr>
                <td>
                    <p>
                        @Html.Label("İsminiz:")
                    </p>

                  


                </td>

            <tr>
                <td>
                    
                        @Html.DisplayFor(m => m.isim)
                   

                </td>

            </tr>
            <tr>
                <td>
                    <p>

                        @Html.Label("Kullanici Adi:")
                    </p>


                </td>
            </tr>
            <tr>
                <td>
                    
                        @Html.DisplayFor(m => m.KullaniciAdi)
                    
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Soyisim:")
                    </p>

              

                </td>
            </tr>
            <tr>
                <td>
                    
                        @Html.DisplayFor(m => m.Soyisim)

                    
                </td>


            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Email:")
                    </p>
                    

                </td>

            </tr>
            <tr>
                <td>
                    
                        @Html.DisplayFor(m => m.Email)
                    
                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        @Html.Label("Aciklama:")
                    </p>

                 

                </td>

            </tr>
            <tr>
                <td>
                    
                        @Html.DisplayFor(m => m.Aciklama)
                    
                </td>

            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Label("Rolünüz:")
                    </p>

                 

                </td>
            </tr>
            <tr>
                <td>
                    
                        @if (Model.RoleId == 1)
                        {
                            @Html.Display("Admin");
                        }
                        else
                        {
                            @Html.Display("Kullanıcı")
                        }
                   
                </td>
            </tr>


        </table>

    </div>
</div>
<p>
    <button class="btn btn-info" type="submit" style="margin-left:250px;" onclick="@Url.Action("EditUye", "Uye", new { id = Model.ID })"> Profil Düzenle</button>
    @if (Context.Session["KullaniciAdi"].Equals("Beyza") == true)
    {
        <button class="btn btn-info" type="button" onclick="@Url.Action("IndexAdmin", "Admin")"> Anasayfaya Dön</button>

    }
    else
    {
        <button class="btn btn-info" type="button" onclick="@Url.Action("UyeAnaSayfasi", "Security")"> Anasayfaya Dön</button>
    }


</p>
