@model KutuphaneCoresuz.Models.TableModels.Uye

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uye_sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uye_sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uye_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uye_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
