
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        @*@if(ViewContext.RouteData.Values["controller"].ToString()=="UyeAnaSayfasi")
        {

        }*@

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li>@Html.ActionLink("Anasayfa", "AdminAnasayfasi", "Security", new { area = "" }, new { @class = "navbar-brand" })</li>

                <li>@Html.ActionLink("Giriş Sayfası", "Login", "Security", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Üye Ekle", "CreateUye", "Uye", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Kitap Ekle", "", "", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="menu-has-children">
                    @*@Html.ActionLink("Keşfet", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <li class="menu-has-children">
                    @Html.ActionLink("Ekle", "UyeAnaSayfasi", "Security")
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href=@Url.Action("CreateYazarAction","Yazar")>Yazar Ekle</a></li>
                        <li><a href="@Url.Action("CreateKitap","Kitap")">Kitap Ekle</a></li>
                        <li><a href="@Url.Action("CreateUye","Uye")">Uye Ekle</a></li>
                        <li><a href="@Url.Action("IndexYazar","Yazar")">Tüm Yazarlar</a></li>
                        <li><a href="@Url.Action("IndexKitap","Kitap")">Tüm Kitaplar</a></li>

                    </ul>

                </li>
                <li class="menu-has-children">
                    @Html.ActionLink("Keşfet", "UyeAnaSayfasi", "Security")
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href=@Url.Action("CreateYazarAction","Yazar")>Yazar Ekle</a></li>
                        <li><a href="@Url.Action("CreateKitap","Kitap")">Kitap Ekle</a></li>
                        <li><a href="@Url.Action("CreateUye","Uye")">Yeni Uye</a></li>
                        <li><a href="@Url.Action("IndexYazar","Yazar")">Tüm Yazarlar</a></li>
                        <li><a href="@Url.Action("IndexKitap","Kitap")">Tüm Kitaplar</a></li>
                    </ul>

                </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-facebook-f">   </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-twitter">   </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-google">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-linkedin">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-youtube">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-instagram">      </li>



                @*<li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>*@
            </ul>

        </nav><!-- #nav-menu-container -->

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" style="position:absolute; right:50px; top:100px" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profil
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
        </div>

        <div style="padding:0; margin-top:80px; font-family:fantasy; color:#01579B; height:250px; width:250px; position:absolute; left:10px ">
            <aside class="col-md-">

                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="#" style="text-decoration:none;">Alıntılar</a>
                <br />
                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="@Url.Action("IndexYazar","Yazar")" style="text-decoration:none;"> Tüm Yazarlar</a>
                <br />
                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="@Url.Action("IndexKitap","Kitap")" style="text-decoration:none;">Tüm Kitaplar</a>
                <br />
                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="@Url.Action("IndexUye","Admin")" style="text-decoration:none;">Tüm Üyeler</a>
                <br />
                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="#" style="text-decoration:none;">Hakkımızda   </a>
                <br />
                <hr style="width:200px; position:absolute; left:10px; " />
                <a href="#" style="text-decoration:none;">İletişim</a><br />


            </aside>
        </div>
    </div>


</header>

