
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left" style="position:absolute; top:5px; left:10px;">
            <h2 style="color:#10707f; " > Hoşgeldiniz @Context.Session["KullaniciAdi"].ToString() </h2>
        </div> 

        @*@if(ViewContext.RouteData.Values["controller"].ToString()=="UyeAnaSayfasi")
        {

        }*@

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li>@Html.ActionLink("Anasayfa", "AdminAnasayfasi", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>

                <li>@Html.ActionLink("Giriş Sayfası", "Login", "Security", new { area = "" }, new { @class = "navbar-brand" })</li>

                <li class="menu-has-children">
                    @*@Html.ActionLink("Keşfet", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <li class="menu-has-children">
                    @Html.ActionLink("Ekle", "", "")
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href=@Url.Action("CreateYazarAction","Yazar")>Sisteme Yazar Ekle</a></li>
                        <li><a href="@Url.Action("CreateKitap","Kitap")">Sisteme Kitap Ekle</a></li>
                        <li><a href="@Url.Action("AddUyeAdmin","Admin")"> Sisteme Uye Ekle</a></li>
                        <li><a href="@Url.Action("IndexYazar","Yazar")">Tüm Yazarlar</a></li>
                        <li><a href="@Url.Action("IndexKitap","Kitap")">Tüm Kitaplar</a></li>

                    </ul>
                <li class="menu-has-children">
                    @Html.ActionLink("Sil", "", "")
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href=@Url.Action("IndexYazar","Yazar")> Sistemden Yazar Sil</a></li>
                        <li><a href="@Url.Action("IndexKitap","Kitap")">Sistemden Kitap Sil</a></li>
                        <li><a href="@Url.Action("AdminDeleteUyeResult","Admin")">Sistemden Uye Sil</a></li>
                        <li><a href="@Url.Action("IndexYazar","Yazar")">Tüm Yazarlar</a></li>
                        <li><a href="@Url.Action("IndexKitap","Kitap")">Tüm Kitaplar</a></li>

                    </ul>

                </li>
                <li class="menu-has-children">
                    @Html.ActionLink("Profil", "UyeAnaSayfasi", "Security")
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href=@Url.Action("DetailsUye","Uye")>Profil Görüntüle</a></li>
                        <li><a href="@Url.Action("EditUye","Uye")">Profil Düzenle</a></li>
                        <li><a href="@Url.Action("DeleteUye","Uye")">Profil Sil</a></li>

                    </ul>

                </li>
                <li style="        width: 30px;
        height: 30px;
        padding: 1px" class="icon-thumbnail fab fa-facebook-f">   </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-twitter">   </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-google">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-linkedin">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-youtube">    </li>
                <li style="width:30px; height:30px; padding:1px" class="icon-thumbnail fab fa-instagram">      </li>



                @*<li><a href="#">Drop Down 3</a></li>
        <li><a href="#">Drop Down 4</a></li>
        <li><a href="#">Drop Down 5</a></li>*@
            </ul>

        </nav><!-- #nav-menu-container -->
       

        <div style="padding:0; margin-top:80px; font-family:fantasy; color:#01579B; height:250px; width:250px; position:absolute; left:10px ">
            <aside>
                <hr style="width:200px; position:absolute; left:10px; " />
                <div class="col-1" style="width:200px;">
                    <button class="btn btn-outline-info" style="width :inherit;" type="button" onclick="location.href='@Url.Action("IndexAdmin","Admin")'">Anasayfa</button>
                    <hr style="width:200px; position:absolute; left:10px; " />
                </div>

                <div class="col-1" style="width:200px;">
                    <button class="btn btn-info" style="width:inherit;" type="button" onclick="location.href='@Url.Action("IndexKitap","Kitap")'">Tüm kitaplar</button>
                </div>
                <hr style="width:200px; position:absolute; left:10px; " />
                <div class="col-1" style="width:200px;">
                    <button class="btn btn-outline-info" style="width:inherit;" type="button" onclick="location.href='@Url.Action("IndexYazar","Yazar")'">Tüm Yazarlar</button>
                </div>
                <hr style="width:200px; position:absolute; left:10px; " />
                <div class="col-1" style="width:200px;">
                    <button class="btn btn-info" style="width:inherit;" type="button" onclick="location.href='@Url.Action("IndexAdmin","Admin")'">Tüm Üyeler</button>
                </div>
                <hr style="width:200px; position:absolute; left:10px; " />
                <div class="col-1" style="width:200px;">
                    <button class="btn btn-outline-info" style="width:inherit;" type="button" onclick="location.href='@Url.Action("KitapAra","Security")'">Kitap-Yazar Ara</button>
                </div>


            </aside>
        </div>
    </div>


</header>

