

   
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/css/animate.css" rel="stylesheet" />
        <link href="~/Content/css/animate.min.css" rel="stylesheet" />
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="~/Content/css/webPage/webgrid.css" rel="stylesheet" />
        @*<link href="~/Content/cssLogin.css" rel="stylesheet" />*@
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/sm.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/brands.css" rel="stylesheet" />
        <script src="~/Content/fontawesome-free-5.12.0-web/js/all.js"></script>
        <link href="~/Content/fontawesome-free-5.12.0-web/css/fontawesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/Content/fontawesome-free-5.12.0-web/css/regular.css" rel="stylesheet" />
        <link href="~/Content/table/minik.css" rel="stylesheet" />
        @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
        <link href="~/Content/fontawesome-free-5.12.0-web/css/brands.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/solid.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/fontawesome.css" rel="stylesheet" />
        <link href="~/Content/sm.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/regular.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/regular.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/brands.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/v4-shims.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/solid.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/v4-shims.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/svg-with-js.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/svg-with-js.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/solid.css" rel="stylesheet" />
        <link href="~/Content/fontawesome-free-5.12.0-web/css/fontawesome.min.css" rel="stylesheet" />
        @*<script src="~/Content/easing.js"></script>*@
        @*<script src="~/Content/fontawesome-free-5.12.0-web/js/all.min.js"></script>
        <script src="~/Content/fontawesome-free-5.12.0-web/js/brands.js"></script>
        <script src="~/Content/fontawesome-free-5.12.0-web/js/fontawesome.min.js"></script>*@
        @*<script src="~/Content/easing.min.js"></script>*@
        @*<script src="~/Content/fontawesome-free-5.12.0-web/js/brands.min.js"></script>*@
        @*<script src="~/Content/hoverIntent.js"></script>*@
      @*  <script src="~/Content/jquery-migrate.min.js"></script>*@
        @*<script src="~/Content/fontawesome-free-5.12.0-web/js/conflict-detection.min.js"></script>*@
        <script src="~/Content/fontawesome-free-5.12.0-web/js/solid.js"></script>
        <script src="~/Content/fontawesome-free-5.12.0-web/js/solid.min.js"></script>
        <script src="~/Content/fontawesome-free-5.12.0-web/js/v4-shims.min.js"></script>
        <script src="~/Content/fontawesome-free-5.12.0-web/js/v4-shims.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/Content/jquery.min.js"></script>
        <script src="~/Content/superfish.js"></script>
        <script src="~/Content/superfish.min.js"></script>
        <script src="~/Content/waypoints.min.js"></script>
        <script src="~/Content/counterup.min.js"></script>
        <script src="~/Content/bootstrap.min.js"></script>
     
       
        <script src="~/Content/bootstrap.bundle.min.js"></script>

        @Styles.Render("~/Content/table/tableCss.css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")


    </head>

        <body style="background-image: url('../../Content/img/hero-bg.jpg'); ">

          
            @RenderBody()
            
         

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            @RenderSection("Scripts", false)

        </body>



